.keyboard{
  padding:20px;
}
.ivory{
  align:top;
  border: 1px solid black;
  height: 100px;
  width: 25px;
  display: inline-block;
  padding:0px;
  margin:0px;
}

.ivory:hover {
  background-color: orange;
}

.ebony{
  vertical-align:top;
  border: 1px solid black;
  height: 75px;
  width: 25px;
  display: inline-block;
  padding:0px;
  margin:0px;
  background-color: black;
}

.ebony:hover {
  background-color: orange;
}
